Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,concurrency-*,performance-*' 
# Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,concurrency-*,performance-*,portability-*,readability-*,cppcoreguidelines-*,modernize-*,' 
HeaderFilterRegex: '.*'